.main-container{
  max-width: 1230px;
  padding: 0 15px;
  margin: auto;
}
.title-wrapper{
  padding: 30px 40px;
  border: 1px solid #0069d9;
  background-color: #5a6268;
  margin-bottom: 40px;
  .title{
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
}
.main-wrapper{
  .convert-form {
    width: 100%;
    .area {
      width: calc((100% - 250px) / 2);
      padding: 20px 30px;
    }
    .valid-roman{
      border: 1px solid #bd2130;
    }
    .submit{
      width: 100px;
      cursor: pointer;
    }
  }
  .error{
    color: #bd2130;
    font-size: 28px;
  }
}